<div style="text-align:center">
  <h1> Welcome to {{ title }}! </h1>
  <img width="100" alt="Angular Logo"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv6sBnBHHY9-6RmUJeCiF9cGACgwZzOgOnlg&usqp=CAU">
</div>
<wj-flex-grid-search [placeholder]="'FlexGridSearch'" [grid]="theGrid"></wj-flex-grid-search>
<div class="App-panel">
  <wj-flex-grid [itemsSource]="data" #theGrid>
    <wj-flex-grid-filter></wj-flex-grid-filter>
  </wj-flex-grid>
  <wj-flex-chart [itemsSource]="data" [bindingX]="'country'">
    <wj-flex-chart-series [binding]="'sales'" [name]="'Sales'"> </wj-flex-chart-series>
    <wj-flex-chart-series [binding]="'expenses'" [name]="'Expenses'"> </wj-flex-chart-series>
    <wj-flex-chart-series [binding]="'downloads'" [name]="'Downloads'"> </wj-flex-chart-series>
  </wj-flex-chart>
</div>
